<style>
  /* collection page */
    .main-collection__list{
      width: 100%;
    }
    .sol-collection__container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      flex: 1;
    }
    .sol-related__collections--content{
      flex: 1;
      overflow-x: hidden;
      position: relative;
    }
    .sol-related__collections--content::after{
      width: 20px;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      background: linear-gradient(to right,#fff0,#ffffff80,#fff);
    }
    .sol-collection__title{
      font-size: 20px;
      margin-bottom: 0;
    }
    .sol-related__collections{
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 0;
      margin: 0;
      overflow-x: auto;
      scroll-behavior: smooth;
    }
    .sol-related__collections::-webkit-scrollbar{
      display: none;
    }
    .sol-related__collections li{
      list-style: none;
      border: 1px solid #000;
      padding: 3px 5px 0px 3px;
      font-size: 13px;
    }
    .sol-related__collections li a{
      white-space: nowrap;
    }
    .sol-rel__collection--mobile{
      display: none;
      overflow-x: hidden;
      position: relative;
    }
    .sol-rel__collection--mobile::after{
      width: 20px;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      background: linear-gradient(to right,#fff0,#ffffff80,#fff);
    }
  #FacetSortForm{
    width: 30px;
  }
  #FacetSortForm select{
      border: 0;
    }
    drawer-opener .btn--filter-sort{
      border: 0 !important;
    }
    .product-grid__header drawer-opener {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }
  @media screen and (max-width: 768px){
    .product-grid__header drawer-opener {
      gap: 10px;
    }
    #FacetSortForm select{
      padding: 2px 10px;
      border: 0;
    }
    .product-grid__header{
      flex-wrap: wrap;
    }
    .sol-collection__title{
      font-size: 18px;
    }
    .sol-related__collections--content::-webkit-scrollbar{
      display: none;
    }
    .product-grid__header{
      margin-bottom: 5px !important;
    }
    .sol-related__collections{
      display: none;
    }
    .sol-rel__collection--mobile .sol-related__collections{
      display: flex;
    }
    .sol-rel__collection--mobile{
      display: flex;
      margin-bottom: 10px;
      padding-top: 10px;
      width: 100%;
    }
    .collection-sortby{
      display: flex;
      width: 85px;
    }
    .collection-sortby label{
      position: relative;
      margin-right: -7px;
    }
  }
  /* --------------- */
</style>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    "name": " I Am Sol- {{ collection.title }}",

    "url": "{{ collection.url }}",
    "hasPart": {
        "@type": "WebPageElement"

    },
    "mainEntity": {
        "@type": "WebPageElement",
        {% assign expiration_date = 'now' | date: "%Y-%m-%d" | date_add: 30 %}
        "offers": {
            "@type": "Offer",
            "itemOffered": [
                {% for product in collection.products %}
                {
                    "@type": "Product",
                    "image": "{{ product | img_url: '2560w' }}",
                    "name": "{{ product.title }}",
                  "description": "{{ product.description | strip_html | truncate: 160 }}",
                  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{% if product.metafields.custom.rating != blank %}{{ product.metafields.custom.rating }}{% else %}4.5{% endif %}",
    "reviewCount": "{% if product.metafields.custom.reviews_count != blank %}{{ product.metafields.custom.reviews_count }}{% else %}23{% endif %}"
  },
                    "offers": {
                        "@type": "Offer",
                        "availability": "http://schema.org/InStock",
                        "price": "{{ product.price | money_without_currency }}",
                        "priceCurrency": "AUD",
                        "url": "{{ product.url }}",
                        "priceValidUntil": "{{ expiration_date }}"
                    },
                    "sku": "{{ product.sku }}"
                }{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ]
        }
    }
    }
</script>
{% liquid
  assign container = section.settings.container
  assign paginate_type = section.settings.paginate_type
  assign products_per_page = section.settings.products_per_page
  assign columns = section.settings.columns

  assign enable_filtering = section.settings.enable_filtering
  assign enable_sorting = section.settings.enable_sorting
  assign enable_product_count = section.settings.enable_product_count
  assign sidebar_position = section.settings.sidebar_position

  assign columns_tablet = columns | minus: 1
  if columns < 3 or request.design_mode
    assign columns_tablet = columns
  endif

  assign animation_effect = settings.animations
%}
{{ 'collection.css' | asset_url | stylesheet_tag }}
<link
  id="ModalComponent"
  rel="stylesheet"
  href="{{ 'modal-component.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
{% if enable_filtering or enable_sorting %}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{% endif %}
<script
  src="{{ 'product-grid-container.js' | asset_url }}"
  defer="defer"
></script>

<div
  id="ProductGridContainer"
  data-section-id="{{ section.id }}"
  class="main-collection block f-section-padding"
  style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="main-collection__container">
    {%- paginate collection.products by section.settings.products_per_page -%}
      <div class="{{ container }}">
        <div class="main-collection__wrapper main-collection__wrapper--{{ sidebar_position }} flex{% unless enable_filtering %} main-collection__wrapper--hide-filters{% endunless %}">
          {% if enable_filtering %}
            {% render 'facets',
              results: collection,
              sidebar_position: sidebar_position,
              heading_size: section.settings.filter_group_heading_size,
              enable_sorting: enable_sorting,
              animation_effect: animation_effect
            %}
            <noscript>
              {% render 'facets-nojs',
                results: collection,
                form_id: 'facets-1',
                sidebar_position: sidebar_position,
                heading_size: section.settings.filter_group_heading_size,
                enable_sorting: enable_sorting,
                animation_effect: animation_effect
              %}
            </noscript>
          {% endif %}
          <div class="main-collection__list" data-product-container>
            <product-grid-container data-section-id="{{ section.id }}">
              {% render 'product-grid-header',
                results: collection,
                sidebar_position: sidebar_position,
                enable_filtering: enable_filtering,
                products_per_page: products_per_page,
                enable_sorting: enable_sorting,
                enable_product_count: enable_product_count
              %}
              {%- if collection.products.size == 0 -%}
                <div
                  class="product-grid product-grid--empty"
                  data-id="{{ section.id }}"
                >
                  <div class="text-center">
                    <h2 class="h4">
                      {{ 'sections.collection_template.empty' | t }}
                    </h2>
                    <p>
                      {{
                        'sections.collection_template.use_fewer_filters_html'
                        | t: link: collection.url, class: 'underlined-link'
                      }}
                    </p>
                  </div>
                </div>
              {%- else -%}
                <grid-list
                  data-motion="{{ animation_effect }}"
                  id="product-grid"
                  data-id="{{ section.id }}"
                  class="product-grid f-grid f-grid-2-cols md:f-grid-{{ columns_tablet }}-cols xl:f-grid-{{ columns }}-cols f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }}"
                  data-products-grid
                >
                  {%- for product in collection.products -%}
                    <div class="f-column">
                      {%- render 'product-card',
                        color_schema: 'background-1',
                        product: product,
                        section_index: 1,
                        index: forloop.index
                      -%}
                    </div>
                  {%- endfor -%}
                </grid-list>
              {% endif %}
              {% if paginate.pages > 1 %}
                <div
                  class="main-collection__pagination f-pagination__wrapper text-center"
                  data-paginate="{{ paginate_type }}"
                  data-total-pages="{{ paginate.pages }}"
                >
                  {%- if paginate_type == 'number' -%}
                    {%- render 'pagination', paginate: paginate -%}
                  {%- else -%}
                    <button
                      class="btn btn--primary btn-loadmore no-js-hidden{% if paginate_type == 'infinite' %} btn--loading{% endif %}"
                      data-load-more
                    >
                      <span class="{%- if paginate_type == 'infinite' -%}visually-hidden{% endif %}">
                        {{- 'general.pagination.load_more' | t -}}
                      </span>
                      {% comment %} theme-check-disable {% endcomment %}
                      {{ 'icon-spinner.svg' | inline_asset_content }}
                      {% comment %} theme-check-enable {% endcomment %}
                    </button>
                    <noscript>
                      {%- render 'pagination', paginate: paginate -%}
                    </noscript>
                  {%- endif -%}
                </div>
              {% endif %}
            </product-grid-container>
          </div>
        </div>
      </div>
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "f-section-product-grid",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/PKu2OBi)"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 6,
      "max": 50,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.common.grid.collection_columns",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:sections.common.grid.gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "row_gap",
      "label": "t:sections.common.grid.row_gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_07",
          "value": "double-extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_05",
          "value": "extra-small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_06",
          "value": "extra-large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_product_count",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_product_count.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "t:sections.main-collection-product-grid.settings.position.label",
      "info": "t:sections.main-collection-product-grid.settings.position.info",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-collection-product-grid.settings.position.option__1"
        },
        {
          "value": "right",
          "label": "t:sections.main-collection-product-grid.settings.position.option__2"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.position.option__3"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "group_collapsible",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.collapsible.label"
    },
    {
      "type": "select",
      "id": "default_state_collapsible",
      "label": "t:sections.main-collection-product-grid.settings.collapsible.default_state.label",
      "options": [
        {
          "value": "collapsed",
          "label": "t:sections.main-collection-product-grid.settings.collapsible.default_state.options.option__1.label"
        },
        {
          "value": "expanded",
          "label": "t:sections.main-collection-product-grid.settings.collapsible.default_state.options.option__2.label"
        }
      ],
      "default": "collapsed"
    },
    {
      "type": "checkbox",
      "id": "open_first_group",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.open_first_group.label",
      "info": "t:sections.main-collection-product-grid.settings.open_first_group.info"
    },
    {
      "type": "select",
      "id": "filter_group_heading_size",
      "label": "t:sections.main-collection-product-grid.settings.filter_group_heading_size.label",
      "default": "h5",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.common.text_size.options__sm.label"
        },
        {
          "value": "h5",
          "label": "t:sections.common.text_size.options__md.label"
        },
        {
          "value": "h4",
          "label": "t:sections.common.text_size.options__lg.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_results_count",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_results_count.label"
    },
    {
      "type": "select",
      "id": "filter_color_type",
      "label": "t:sections.main-collection-product-grid.settings.filter_color_type.label",
      "options": [
        {
          "value": "inline",
          "label": "t:sections.main-collection-product-grid.settings.filter_color_type.option_1"
        },
        {
          "value": "list",
          "label": "t:sections.main-collection-product-grid.settings.filter_color_type.option_2"
        }
      ],
      "default": "inline"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "paginate_type",
      "label": "t:sections.main-collection-product-grid.settings.paginate_type.label",
      "options": [
        {
          "value": "number",
          "label": "t:sections.main-collection-product-grid.settings.paginate_type.options.option_1"
        },
        {
          "value": "loadmore",
          "label": "t:sections.main-collection-product-grid.settings.paginate_type.options.option_2"
        },
        {
          "value": "infinite",
          "label": "t:sections.main-collection-product-grid.settings.paginate_type.options.option_3"
        }
      ],
      "default": "number"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 60,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ]
}
{% endschema %}
